.header {
  margin: auto;
  padding: 15px;
}

.nav {
  background-color: #000066;
  overflow: hidden;
  color: white;
}

.nav a {
  float: left;
  padding: 14px 16px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
}

.nav a:hover {
  background-color: #a6a6a6;
  color: black;
}

.nav a.active {
  background-color:  #b30000;
  color: white;
}

h1 {
  color: #00004d;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

h2 {
  color: #000099;
  font-size: 22px;
  text-align: left;
}
h3 {
  color: #000066;
  font-size: 22px;
  text-align: center;
  font-style: oblique;
}
h4 {
  color: #000066;
  font-size: 16px;
  text-align: left;
}

.content {
  margin: 15px 40px 15px 40px;
  padding: 10px 25px 30px 25px;
}
p {
  font-size: 16px;
}
.container {
  display: grid;
  grid-template-columns: auto auto;
}
.card {
  width: 300px;
  height: 500px;
  box-shadow: 0px 5px 10px 5px #888888;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  text-align: center;
  background-color:  #e6e6e5;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.card:hover {
  width: 320px;
  height: 520px;
  background-color:  #cdcdcb;
}
.card img {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 155px;
  width: 280px;
}
.card p {
  padding: 10px;
  font-size: 16px;
}
.seemore {
  background-color:  #000080;
 border: none;
 color: white;
 margin:auto;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
  padding: 15px 20px;
}

.footer {
  margin: auto;
  padding-top: 15px;
  padding-bottom: 5px;
  background: #e6e6e5;
  color: #595959;
  text-align: center;
}
