.header {
  padding: 20px;
  background: white;
  color: #000066;
  font-size: 30px;
}

.nav {
  background-color: #000066;
  overflow: hidden;
  color: white;
}

.nav a {
  float: left;
  padding: 14px 16px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
}

.nav a:hover {
  background-color: #a6a6a6;
  color: black;
}

.nav a.active {
  background-color: #b30000;
  color: white;
}

.content {
  margin: 15px 40px;
  padding: 10px 25px 30px 25px;
}

h1 {
  color: #00004d;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin: 15px 10px;
}

h2 {
  color: #000066;
  font-size: 28px;
  text-align: left;
  margin: 15px 30px;
  font-style: oblique;
}

h3 {
  color: #000080;
  font-size: 24px;
  text-align: left;
  margin: 15px 40px;
}

h4 {
  color: #000099;
  font-size: 22px;
  text-align: left;
  margin: 15px 50px;
}

h5 {
  color: #000099;
  font-size: 20px;
  text-align: left;
  margin-left: 60px;
}

h6 {
  color: #000099;
  font-size: 18px;
  text-align: left;
  margin-left: 70px;
}

p {
  font-size: 16px;
}

p.strong {
  font-weight: bold;
}

p.emphaised {
  font-style: italic;
  color: #b30000;
}

a {
  color: #990000;
  text-decoration: none;
}

a:visited {
  color: #666666;
  text-decoration: none;
}

a:hover {
  color: #0000b3;
}

ul li {
  list-style-position: outside;
}

li ul li {
  list-style: cirle;
}

ol li {
  list-style-type: decimal;
}

li ol li {
  list-style-type: decimal;
}

.colour {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
}

.colour--primary {
  background: #000066;
}

.colour--secondary {
  background: #990000;
}

.colour--dark {
  background: black;
}

.colour--light {
  background: white;
}

.colour--highlight {
  background: #cc0000;
}

.footer {
  margin: auto;
  padding-top: 15px;
  padding-bottom: 5px;
  background: #e6e6e5;
  color: #595959;
  text-align: center;
}
